{
  "swagger": "2.0",
  "info": {
    "version": "3.2",
    "title": "Channel Management API",
    "description": "![example image](https://i.ibb.co/7bqPkGJ/PMS-integration-workflow.png \"An exemplary image\")\n\n**Before beginning work it is necessary that:**\n\n  * Your organization is registered and activated\n  * You have participated in a kick­off meeting\n  * The opening questionnaire has been filled out\n  * You have your login and password. (Using it you get a unique session `token` that must be used in every request to API as param `jwt`)\n\n[Contact us](https://bookingpal.com/en/contact-us/) to be registered and get your credentials.\n\nAll responses are returned as JSON.\n\nThis document covers all the API calls and other methods that can be used to complete Razor-Cloud integration. It is important to note that all parameters are **case sensitive** in this document and should be used as documented.\n\n**Responses:**\nWhen a request is successful, a response body will typically be sent back in the form of a JSON object. An exception to this is when a DELETE request is processed, which will result in a successful `200` status and an empty response body.",
    "contact": {}
  },
  "host": "apidemo.mybookingpal.com",
  "basePath": "/",
  "securityDefinitions": {
    "jwt": {
      "type": "apiKey",
      "description": "Token which need to be passed in every request as GET parameter. You will get this token in authorization response. Token is valid 1 hour.",
      "name": "jwt",
      "in": "query"
    }
  },
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/authc/login": {
      "get": {
        "description": "In order to begin utilizing the platform APIs, your application must be authenticated and authorized to access domain resources. Follow the URL with your credentials and obtain an authorization token which is used in every request.\nYou will have 2 types of tokens. One is on the PMS level, and this one should be used when you send requests related to PMS/PM data. For managing properties, you will need a token on PM level, with PM credentials. For every API call it will be noted which API credentials you should use.",
        "summary": "Login",
        "tags": [
          "Authorization"
        ],
        "operationId": "Login",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "username",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Your account email address (for PMS or PM)"
          },
          {
            "name": "password",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Your password"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Authorization"
            },
            "examples": {
              "application/json": {
                "message": "",
                "errorMessage": [],
                "is_error": false,
                "code": "",
                "token": "a9eaf5b0-c433-450e-991d-8011fc4aa264",
                "partyId": 61692799,
                "organizationId": 61690131,
                "name": "Update Name",
                "currency": "USD",
                "supplierId": 61692799
              }
            },
            "headers": {}
          }
        },
        "security": []
      }
    },
    "/pmlist": {
      "get": {
        "description": "This API call will return a list of property managers (PM) that have been created in the BookingPal platform that is associated with your PMS.\nIn all requests in this API section, you need to use your PMS credentials.",
        "summary": "PMs list",
        "tags": [
          "Property Managers"
        ],
        "operationId": "PMslist",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/GetPMslist"
            },
            "examples": {
              "application/json": {
                "message": "",
                "errorMessage": [],
                "is_error": false,
                "code": "",
                "data": [
                  {
                    "id": 61690133,
                    "name": "Test name",
                    "extraName": "Test fullname",
                    "emailAddress": "test001@gmail.com"
                  },
                  {
                    "id": 61690517,
                    "name": "Test",
                    "extraName": "Test",
                    "emailAddress": "testa002@gmail.com"
                  },
                  {
                    "id": 61690534,
                    "name": "Test",
                    "extraName": "Test",
                    "emailAddress": "testa003@gmail.com"
                  },
                  {
                    "id": 61691075,
                    "name": "Test",
                    "extraName": "Test",
                    "emailAddress": "testa004@gmail.com"
                  },
                  {
                    "id": 61691076,
                    "name": "Test",
                    "extraName": "Test",
                    "emailAddress": "testa005@gmail.com"
                  },
                  {
                    "id": 61691729,
                    "name": "Test",
                    "extraName": "Test",
                    "emailAddress": "testa103@gmail.com"
                  },
                  {
                    "id": 61691731,
                    "name": "Update Name",
                    "extraName": "Update Full Name",
                    "emailAddress": "te@gmail.com"
                  },
                  {
                    "id": 61691732,
                    "name": "Update Name",
                    "extraName": "Update Full Name",
                    "emailAddress": "testa026@gmail.com"
                  },
                  {
                    "id": 61691733,
                    "name": "Test",
                    "extraName": "Test",
                    "emailAddress": "testa027@gmail.com"
                  },
                  {
                    "id": 61691734,
                    "name": "Test",
                    "extraName": "Test",
                    "emailAddress": "testa028@gmail.com"
                  },
                  {
                    "id": 61691735,
                    "name": "Test",
                    "extraName": "Test",
                    "emailAddress": "testa029@gmail.com"
                  },
                  {
                    "id": 61691736,
                    "name": "Update Name",
                    "extraName": "Update Full Name",
                    "emailAddress": "testa0031@gmail.com"
                  },
                  {
                    "id": 61691737,
                    "name": "Update Name",
                    "extraName": "Update Full Name",
                    "emailAddress": "testa0032@gmail.com"
                  },
                  {
                    "id": 61691803,
                    "name": "Update Name",
                    "extraName": "Update Full Name",
                    "emailAddress": "testa035@gmail.com"
                  },
                  {
                    "id": 61691852,
                    "name": "Test",
                    "extraName": "Test",
                    "emailAddress": "testa036@gmail.com"
                  },
                  {
                    "id": 61691861,
                    "name": "Auto-lyxpz company name",
                    "extraName": "Auto-dzvjr full name",
                    "emailAddress": "wnvuyqfya213@pqclbzs.rli"
                  },
                  {
                    "id": 61691868,
                    "name": "Update Name",
                    "extraName": "Update Full Name",
                    "emailAddress": "testa038@gmail.com"
                  },
                  {
                    "id": 61691875,
                    "name": "Test",
                    "extraName": "Test",
                    "emailAddress": "TestPM001@gmail.com"
                  },
                  {
                    "id": 61691876,
                    "name": "Test",
                    "extraName": "Test",
                    "emailAddress": "TestPM002@gmail.com"
                  },
                  {
                    "id": 61691877,
                    "name": "Test",
                    "extraName": "Test",
                    "emailAddress": "TestPM003@gmail.com"
                  },
                  {
                    "id": 61691878,
                    "name": "Test",
                    "extraName": "Test",
                    "emailAddress": "TestPM004@gmail.com"
                  },
                  {
                    "id": 61691879,
                    "name": "Test",
                    "extraName": "Test",
                    "emailAddress": "TestPM005@gmail.com"
                  },
                  {
                    "id": 61691880,
                    "name": "Test",
                    "extraName": "Test",
                    "emailAddress": "TestPM006@gmail.com"
                  },
                  {
                    "id": 61691881,
                    "name": "Test",
                    "extraName": "Test",
                    "emailAddress": "TestPM007@gmail.com"
                  },
                  {
                    "id": 61691882,
                    "name": "Test",
                    "extraName": "Test",
                    "emailAddress": "TestPM008@gmail.com"
                  },
                  {
                    "id": 61691883,
                    "name": "Test",
                    "extraName": "Test",
                    "emailAddress": "TestPM009@gmail.com"
                  },
                  {
                    "id": 61691884,
                    "name": "Test",
                    "extraName": "Test",
                    "emailAddress": "TestPM010@gmail.com"
                  },
                  {
                    "id": 61691885,
                    "name": "Test",
                    "extraName": "Test",
                    "emailAddress": "TestPM011@gmail.com"
                  },
                  {
                    "id": 61691886,
                    "name": "Test",
                    "extraName": "Test",
                    "emailAddress": "TestPM012@gmail.com"
                  },
                  {
                    "id": 61691887,
                    "name": "Test",
                    "extraName": "Test",
                    "emailAddress": "TestPM014@gmail.com"
                  },
                  {
                    "id": 61691888,
                    "name": "Test",
                    "extraName": "Test",
                    "emailAddress": "TestPM015@gmail.com"
                  },
                  {
                    "id": 61691889,
                    "name": "Test",
                    "extraName": "Test",
                    "emailAddress": "TestPM016@gmail.com"
                  },
                  {
                    "id": 61691896,
                    "name": "Test",
                    "extraName": "Test",
                    "emailAddress": "TestPM017@gmail.com"
                  },
                  {
                    "id": 61691897,
                    "name": "Test",
                    "extraName": "Test",
                    "emailAddress": "TestPM018@gmail.com"
                  },
                  {
                    "id": 61691898,
                    "name": "Test",
                    "extraName": "Test",
                    "emailAddress": "TestPM019@gmail.com"
                  },
                  {
                    "id": 61691899,
                    "name": "Test",
                    "extraName": "Test",
                    "emailAddress": "TestPM020@gmail.com"
                  },
                  {
                    "id": 61691900,
                    "name": "Test",
                    "extraName": "Test",
                    "emailAddress": "TestPM021@gmail.com"
                  },
                  {
                    "id": 61691903,
                    "name": "Test",
                    "extraName": "Test",
                    "emailAddress": "testa0141234@gmail.com"
                  },
                  {
                    "id": 61691904,
                    "name": "Test",
                    "extraName": "Test",
                    "emailAddress": "testa01412345@gmail.com"
                  },
                  {
                    "id": 61691905,
                    "name": "Test",
                    "extraName": "Test",
                    "emailAddress": "TestPM022@gmail.com"
                  },
                  {
                    "id": 61691906,
                    "name": "Test",
                    "extraName": "Test",
                    "emailAddress": "TestPM023@gmail.com"
                  },
                  {
                    "id": 61691907,
                    "name": "Test",
                    "extraName": "Test",
                    "emailAddress": "testa014123452@gmail.com"
                  },
                  {
                    "id": 61691908,
                    "name": "Test",
                    "extraName": "Test",
                    "emailAddress": "testa0141234521@gmail.com"
                  },
                  {
                    "id": 61691909,
                    "name": "Test",
                    "extraName": "Test",
                    "emailAddress": "TestPM024@gmail.com"
                  },
                  {
                    "id": 61691910,
                    "name": "Test",
                    "extraName": "Test",
                    "emailAddress": "TestPM025@gmail.com"
                  },
                  {
                    "id": 61691911,
                    "name": "Test",
                    "extraName": "Test",
                    "emailAddress": "TestPM026@gmail.com"
                  },
                  {
                    "id": 61691979,
                    "name": "Test",
                    "extraName": "Test",
                    "emailAddress": "TestPM028@gmail.com"
                  },
                  {
                    "id": 61692003,
                    "name": "Test",
                    "extraName": "Test",
                    "emailAddress": "TestPM030@gmail.com"
                  },
                  {
                    "id": 61692065,
                    "name": "Test",
                    "extraName": "Test",
                    "emailAddress": "TestPM031@gmail.com"
                  },
                  {
                    "id": 61692066,
                    "name": "Test",
                    "extraName": "Test",
                    "emailAddress": "TestPM032@gmail.com"
                  },
                  {
                    "id": 61692067,
                    "name": "Test",
                    "extraName": "Test",
                    "emailAddress": "TestPM033@gmail.com"
                  },
                  {
                    "id": 61692068,
                    "name": "Update Name",
                    "extraName": "Update Full Name",
                    "emailAddress": "TestPM034@gmail.com"
                  },
                  {
                    "id": 61692418,
                    "name": "Test",
                    "extraName": "Test",
                    "emailAddress": "TestPM01130@gmail.com"
                  },
                  {
                    "id": 61692455,
                    "name": "Test",
                    "extraName": "Test",
                    "emailAddress": "TestPM035@gmail.com"
                  },
                  {
                    "id": 61692456,
                    "name": "Test",
                    "extraName": "Test",
                    "emailAddress": "TestPM036@gmail.com"
                  },
                  {
                    "id": 61692457,
                    "name": "Test",
                    "extraName": "Test",
                    "emailAddress": "TestPM037@gmail.com"
                  },
                  {
                    "id": 61692552,
                    "name": "Update Name",
                    "extraName": "Update Full Name",
                    "emailAddress": "TestPM038@gmail.com"
                  },
                  {
                    "id": 61692554,
                    "name": "Test",
                    "extraName": "Test",
                    "emailAddress": "TestPM999MJ@gmail.com"
                  },
                  {
                    "id": 61692695,
                    "name": "Test",
                    "extraName": "Test",
                    "emailAddress": "testa133@gmail.com"
                  },
                  {
                    "id": 61692769,
                    "name": "Test",
                    "extraName": "Test",
                    "emailAddress": "TestPM050@gmail.com"
                  },
                  {
                    "id": 61692782,
                    "name": "Test",
                    "extraName": "Test",
                    "emailAddress": "TestPMCreateProduct@gmail.com"
                  },
                  {
                    "id": 61692785,
                    "name": "Test",
                    "extraName": "Test",
                    "emailAddress": "TestPM055@gmail.com"
                  },
                  {
                    "id": 61692787,
                    "name": "Test",
                    "extraName": "Test",
                    "emailAddress": "TestPM056@gmail.com"
                  },
                  {
                    "id": 61692789,
                    "name": "Test",
                    "extraName": "Test",
                    "emailAddress": "TestPM057@gmail.com"
                  },
                  {
                    "id": 61692790,
                    "name": "Test Wiz",
                    "extraName": "Test Wiz",
                    "emailAddress": "TestPM058@gmail.com"
                  },
                  {
                    "id": 61692791,
                    "name": "Test wiz1",
                    "extraName": "Test wiz1",
                    "emailAddress": "TestPM059@gmail.com"
                  },
                  {
                    "id": 61692793,
                    "name": "Test wiz1",
                    "extraName": "Test wiz1",
                    "emailAddress": "TestPM060@gmail.com"
                  },
                  {
                    "id": 61692794,
                    "name": "Test wiz1",
                    "extraName": "Test wiz1",
                    "emailAddress": "TestPM061@gmail.com"
                  },
                  {
                    "id": 61692795,
                    "name": "Test wiz",
                    "extraName": "Test wiz",
                    "emailAddress": "TestPM062@gmail.com"
                  },
                  {
                    "id": 61692797,
                    "name": "Wizard Demo",
                    "extraName": "Wizard Demo",
                    "emailAddress": "wizarddemo@gmail.com"
                  },
                  {
                    "id": 61692799,
                    "name": "Test PM",
                    "extraName": "Test PM",
                    "emailAddress": "apimaticTest@test.com"
                  }
                ]
              }
            },
            "headers": {}
          }
        }
      }
    },
    "/pm": {
      "post": {
        "description": "This API call will allow the PMS to pass all data to BookingPal that is required for registering a new PM (Property Manager). All fields are mandatory - PMS must pass this data in order for a PM account to be created. You need to use PMS credentials for this request.",
        "summary": "Create new Property Manager",
        "tags": [
          "Property Managers"
        ],
        "operationId": "CreatenewPropertyManager",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/Createnew~1UpdatePropertyManagerRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/PropertyManagerdetailsresponse"
            },
            "examples": {
              "application/json": {
                "message": "",
                "errorMessage": [],
                "is_error": false,
                "code": "",
                "data": [
                  {
                    "companyDetails": {
                      "accountId": "132",
                      "companyName": "Test PM",
                      "language": "en",
                      "fullName": "Test PM",
                      "companyAddress": {
                        "country": "US",
                        "state": "Test State",
                        "streetAddress": "Test Street",
                        "city": "Test City",
                        "zip": "13245"
                      },
                      "website": "www.testsite.com",
                      "email": "apimaticPMemail@test.com",
                      "phone": {
                        "countryCode": "+321",
                        "number": "132456"
                      },
                      "password": "password",
                      "currency": "USD"
                    },
                    "policies": {
                      "paymentPolicy": {
                        "type": "SPLIT",
                        "splitPayment": {
                          "depositType": "FLAT",
                          "value": 4,
                          "secondPaymentDays": 30
                        }
                      },
                      "cancellationPolicy": {
                        "type": "MANUAL",
                        "manualPolicy": {
                          "type": "FLAT",
                          "manualPolicies": [
                            {
                              "chargeValue": 20,
                              "beforeDays": 34,
                              "cancellationFee": 1
                            },
                            {
                              "chargeValue": 12,
                              "beforeDays": 45,
                              "cancellationFee": 2
                            }
                          ]
                        }
                      },
                      "feeTaxMandatory": {
                        "isFeeMandatory": true,
                        "isTaxMandatory": true
                      },
                      "terms": "www.test.com",
                      "checkInTime": "10:00:00",
                      "checkOutTime": "16:00:00",
                      "leadTime": 2
                    },
                    "payment": {
                      "paymentType": "MAIL_CHECK",
                      "creditCard": {
                        "creditCardType": "POST",
                        "creditCardList": [
                          "AMERICAN_EXPRESS",
                          "DINERS_CLUB",
                          "DISCOVER",
                          "MASTER_CARD",
                          "VISA"
                        ],
                        "paymentGateways": {
                          "paymentGatewaysType": "AUTHORIZE_NET"
                        }
                      }
                    },
                    "id": 61692801
                  }
                ]
              }
            },
            "headers": {}
          }
        }
      }
    },
    "/pm/{id}": {
      "get": {
        "description": "This function will return a property manager’s details that belong to the current user. You need to use your PMS API credentials. \n\nRequest Body parameters are the same as for creating PM.\n\nResponse is the same as in creating a Property Manager function. Here you do not need to pass all root level fields, but if some are used - all fields inside are mandatory:\n- in CompanyDetails Model you can pass any field, and none of them is mandatory\n- in Policies Model - you can pass any field,  and none of them is mandatory\n- if you do use PaymentPolicy - all fields inside are mandatory\n- if you do use CancellationPolicy - all fields inside are mandatory\n- if you use Payment Model - all fields inside are mandatory",
        "summary": "Get Property Manager detail data",
        "tags": [
          "Property Managers"
        ],
        "operationId": "GetPropertyManagerdetaildata",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Property Manager ID"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/PropertyManagerdetailsresponse"
            },
            "examples": {
              "application/json": {
                "message": "",
                "errorMessage": [],
                "is_error": false,
                "code": "",
                "data": [
                  {
                    "companyDetails": {
                      "accountId": "132",
                      "companyName": "Test PM",
                      "language": "en",
                      "fullName": "Test PM",
                      "companyAddress": {
                        "country": "US",
                        "state": "Test State",
                        "streetAddress": "Test Street",
                        "city": "Test City",
                        "zip": "13245"
                      },
                      "website": "www.testsite.com",
                      "email": "apimaticTest@test.com",
                      "phone": {
                        "countryCode": "+321",
                        "number": "132456"
                      },
                      "currency": "USD"
                    },
                    "policies": {
                      "paymentPolicy": {
                        "type": "SPLIT",
                        "splitPayment": {
                          "depositType": "FLAT",
                          "value": 4,
                          "secondPaymentDays": 30
                        }
                      },
                      "cancellationPolicy": {
                        "type": "MANUAL",
                        "manualPolicy": {
                          "type": "FLAT",
                          "manualPolicies": [
                            {
                              "chargeValue": 20,
                              "beforeDays": 34,
                              "cancellationFee": 1
                            },
                            {
                              "chargeValue": 12,
                              "beforeDays": 45,
                              "cancellationFee": 2
                            }
                          ]
                        }
                      },
                      "feeTaxMandatory": {
                        "isFeeMandatory": true,
                        "isTaxMandatory": true
                      },
                      "terms": "www.test.com",
                      "checkInTime": "10:00:00",
                      "checkOutTime": "16:00:00",
                      "leadTime": 2
                    },
                    "payment": {
                      "paymentType": "MAIL_CHECK",
                      "creditCard": {
                        "creditCardType": "POST",
                        "creditCardList": [
                          "AMERICAN_EXPRESS",
                          "DINERS_CLUB",
                          "DISCOVER",
                          "MASTER_CARD",
                          "VISA"
                        ],
                        "paymentGateways": {
                          "paymentGatewaysType": "AUTHORIZE_NET"
                        }
                      }
                    },
                    "id": 61692799
                  }
                ]
              }
            },
            "headers": {}
          }
        }
      },
      "put": {
        "description": "This function will update a property manager’s details. In case of an update you do not need to pass all information, but if you have values in one section - all fields inside are mandatory.",
        "summary": "Update Property Manager details",
        "tags": [
          "Property Managers"
        ],
        "operationId": "UpdatePropertyManagerdetails",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/Createnew~1UpdatePropertyManagerRequest"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Property Manager ID"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/PropertyManagerdetailsresponse"
            },
            "examples": {
              "application/json": {
                "message": "",
                "errorMessage": [],
                "is_error": false,
                "code": "",
                "data": [
                  {
                    "companyDetails": {
                      "accountId": "132",
                      "companyName": "Update Name",
                      "language": "en",
                      "fullName": "Update Full Name",
                      "companyAddress": {
                        "country": "US",
                        "state": "Update State",
                        "streetAddress": "Update Street",
                        "city": "Update City",
                        "zip": "13245"
                      },
                      "website": "www.updatesite.com",
                      "email": "apimaticTest@test.com",
                      "phone": {
                        "countryCode": "+321",
                        "number": "132456"
                      },
                      "currency": "USD"
                    },
                    "policies": {
                      "paymentPolicy": {
                        "type": "SPLIT",
                        "splitPayment": {
                          "depositType": "FLAT",
                          "value": 4,
                          "secondPaymentDays": 30
                        }
                      },
                      "cancellationPolicy": {
                        "type": "MANUAL",
                        "manualPolicy": {
                          "type": "FLAT",
                          "manualPolicies": [
                            {
                              "chargeValue": 20,
                              "beforeDays": 34,
                              "cancellationFee": 1
                            },
                            {
                              "chargeValue": 12,
                              "beforeDays": 45,
                              "cancellationFee": 2
                            }
                          ]
                        }
                      },
                      "feeTaxMandatory": {
                        "isFeeMandatory": true,
                        "isTaxMandatory": true
                      },
                      "terms": "www.test.com",
                      "checkInTime": "10:00:00",
                      "checkOutTime": "16:00:00",
                      "leadTime": 2
                    },
                    "payment": {
                      "paymentType": "MAIL_CHECK",
                      "creditCard": {
                        "creditCardType": "POST",
                        "creditCardList": [
                          "AMERICAN_EXPRESS",
                          "DINERS_CLUB",
                          "DISCOVER",
                          "MASTER_CARD",
                          "VISA"
                        ],
                        "paymentGateways": {
                          "paymentGatewaysType": "AUTHORIZE_NET"
                        }
                      }
                    },
                    "id": 61692799
                  }
                ]
              }
            },
            "headers": {}
          }
        }
      }
    },
    "/product": {
      "get": {
        "description": "This API call will return a list of properties that belong to the current user. This means that a user has to be logged in with products created already.\nEvery API call in this section should be with PM credentials.",
        "summary": "Get product list",
        "tags": [
          "Product"
        ],
        "operationId": "Getproductlist",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Productresponse"
            },
            "examples": {
              "application/json": {
                "message": "",
                "errorMessage": [],
                "is_error": false,
                "code": "",
                "data": [
                  {
                    "name": "Apimatic Test",
                    "id": 1235124634,
                    "supplierId": 61692799,
                    "rooms": 5,
                    "bathrooms": 4,
                    "toilets": 2,
                    "totalBeds": 6,
                    "space": 111,
                    "spaceUnit": "SQ_FT",
                    "persons": 10,
                    "childs": 2,
                    "latitude": 41.886125,
                    "longitude": -87.634233,
                    "livingRoom": 2,
                    "altId": 23556,
                    "notes": {
                      "description": {
                        "texts": [
                          {
                            "language": "EN",
                            "value": "Main description on EN!"
                          },
                          {
                            "language": "ES",
                            "value": "Main description on ES!"
                          }
                        ]
                      },
                      "shortDescription": {
                        "texts": [
                          {
                            "language": "EN",
                            "value": "House Rules on EN!"
                          },
                          {
                            "language": "IT",
                            "value": "House Rules on IT!"
                          }
                        ]
                      },
                      "houseRules": {
                        "texts": [
                          {
                            "language": "EN",
                            "value": "House Rules on EN!"
                          },
                          {
                            "language": "SR",
                            "value": "House Rules on SR!"
                          }
                        ]
                      },
                      "name": {
                        "texts": [
                          {
                            "language": "EN",
                            "value": "House Rules on EN!"
                          },
                          {
                            "language": "FR",
                            "value": "House Rules on FR!"
                          }
                        ]
                      },
                      "finePrint": {
                        "texts": [
                          {
                            "language": "EN",
                            "value": "House Rules on EN!"
                          },
                          {
                            "language": "SR",
                            "value": "House Rules on SR!"
                          }
                        ]
                      }
                    },
                    "attributesWithQuantity": [
                      {
                        "attributeId": "HAC312",
                        "quantity": 1
                      },
                      {
                        "attributeId": "RMA19",
                        "quantity": 1
                      },
                      {
                        "attributeId": "RMA273",
                        "quantity": 1
                      },
                      {
                        "attributeId": "RMA32",
                        "quantity": 1
                      },
                      {
                        "attributeId": "RMA41",
                        "quantity": 1
                      },
                      {
                        "attributeId": "RMA5085",
                        "quantity": 1
                      },
                      {
                        "attributeId": "RMA68",
                        "quantity": 1
                      },
                      {
                        "attributeId": "RMA88",
                        "quantity": 1
                      }
                    ],
                    "nearbyAmenities": [],
                    "propertyType": "PCT34",
                    "bedroomConfiguration": {
                      "bedrooms": [
                        {
                          "beds": {
                            "bed": [
                              {
                                "bedType": "RMA113",
                                "count": 1
                              },
                              {
                                "bedType": "RMA58",
                                "count": 1
                              }
                            ]
                          },
                          "type": "Bedroom",
                          "privateBathroom": false
                        },
                        {
                          "beds": {
                            "bed": [
                              {
                                "bedType": "RMA113",
                                "count": 1
                              },
                              {
                                "bedType": "RMA58",
                                "count": 1
                              }
                            ]
                          },
                          "type": "Bedroom",
                          "privateBathroom": false
                        },
                        {
                          "beds": {
                            "bed": [
                              {
                                "bedType": "RMA113",
                                "count": 1
                              },
                              {
                                "bedType": "RMA86",
                                "count": 1
                              }
                            ]
                          },
                          "type": "Bedroom",
                          "privateBathroom": false
                        },
                        {
                          "beds": {
                            "bed": [
                              {
                                "bedType": "RMA113",
                                "count": 1
                              }
                            ]
                          },
                          "type": "Bedroom",
                          "privateBathroom": false
                        },
                        {
                          "beds": {
                            "bed": [
                              {
                                "bedType": "RMA58",
                                "count": 1
                              }
                            ]
                          },
                          "type": "Bedroom",
                          "privateBathroom": true
                        },
                        {
                          "beds": {
                            "bed": [
                              {
                                "bedType": "RMA58",
                                "count": 1
                              }
                            ]
                          },
                          "type": "Living Room",
                          "privateBathroom": false
                        }
                      ]
                    },
                    "checkInTime": "16:00:00",
                    "checkInToTime": "20:00:00",
                    "checkOutTime": "10:00:00",
                    "currency": "EUR",
                    "policy": {
                      "internetPolicy": {
                        "accessInternet": true,
                        "kindOfInternet": "WiFi",
                        "availableInternet": "AllAreas",
                        "chargeInternet": "Free"
                      },
                      "parkingPolicy": {
                        "accessParking": true,
                        "locatedParking": "OnSite",
                        "privateParking": true,
                        "chargeParking": "$ 150",
                        "timeCostParking": "PerStay",
                        "necessaryReservationParking": "NotPossible"
                      },
                      "petPolicy": {
                        "allowedPets": "Allowed",
                        "chargePets": "Free"
                      },
                      "childrenAllowed": true,
                      "smokingAllowed": false
                    },
                    "location": {
                      "postalCode": "60606",
                      "country": "US",
                      "region": "Illinois",
                      "city": "Chicago",
                      "street": "210 North Wells Street",
                      "zipCode9": "60606-1330"
                    },
                    "supportedLosRates": false
                  }
                ]
              }
            },
            "headers": {}
          }
        }
      },
      "post": {
        "description": "This function allows a logged in user to create new product. You can only send one product in each request. \r\n",
        "summary": "Create product",
        "tags": [
          "Product"
        ],
        "operationId": "Createproduct",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/Create~1UpdatePropertyRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Productresponse"
            },
            "examples": {
              "application/json": {
                "message": "",
                "errorMessage": [],
                "is_error": false,
                "code": "",
                "data": [
                  {
                    "name": "Apimatic Test",
                    "id": 1235124634,
                    "supplierId": 61692799,
                    "rooms": 5,
                    "bathrooms": 4,
                    "toilets": 2,
                    "totalBeds": 6,
                    "space": 111,
                    "spaceUnit": "SQ_FT",
                    "persons": 10,
                    "childs": 2,
                    "latitude": 41.886125,
                    "longitude": -87.634233,
                    "livingRoom": 2,
                    "altId": 23556,
                    "notes": {
                      "description": {
                        "texts": [
                          {
                            "language": "EN",
                            "value": "Main description on EN!"
                          },
                          {
                            "language": "ES",
                            "value": "Main description on ES!"
                          }
                        ]
                      },
                      "shortDescription": {
                        "texts": [
                          {
                            "language": "EN",
                            "value": "House Rules on EN!"
                          },
                          {
                            "language": "IT",
                            "value": "House Rules on IT!"
                          }
                        ]
                      },
                      "houseRules": {
                        "texts": [
                          {
                            "language": "EN",
                            "value": "House Rules on EN!"
                          },
                          {
                            "language": "SR",
                            "value": "House Rules on SR!"
                          }
                        ]
                      },
                      "name": {
                        "texts": [
                          {
                            "language": "EN",
                            "value": "House Rules on EN!"
                          },
                          {
                            "language": "FR",
                            "value": "House Rules on FR!"
                          }
                        ]
                      },
                      "finePrint": {
                        "texts": [
                          {
                            "language": "EN",
                            "value": "House Rules on EN!"
                          },
                          {
                            "language": "SR",
                            "value": "House Rules on SR!"
                          }
                        ]
                      }
                    },
                    "attributesWithQuantity": [
                      {
                        "attributeId": "HAC312",
                        "quantity": 1
                      },
                      {
                        "attributeId": "RMA19",
                        "quantity": 1
                      },
                      {
                        "attributeId": "RMA273",
                        "quantity": 1
                      },
                      {
                        "attributeId": "RMA32",
                        "quantity": 1
                      },
                      {
                        "attributeId": "RMA41",
                        "quantity": 1
                      },
                      {
                        "attributeId": "RMA5085",
                        "quantity": 1
                      },
                      {
                        "attributeId": "RMA68",
                        "quantity": 1
                      },
                      {
                        "attributeId": "RMA88",
                        "quantity": 1
                      }
                    ],
                    "nearbyAmenities": [],
                    "propertyType": "PCT34",
                    "bedroomConfiguration": {
                      "bedrooms": [
                        {
                          "beds": {
                            "bed": [
                              {
                                "bedType": "RMA113",
                                "count": 1
                              },
                              {
                                "bedType": "RMA58",
                                "count": 1
                              }
                            ]
                          },
                          "type": "Bedroom",
                          "privateBathroom": false
                        },
                        {
                          "beds": {
                            "bed": [
                              {
                                "bedType": "RMA113",
                                "count": 1
                              },
                              {
                                "bedType": "RMA58",
                                "count": 1
                              }
                            ]
                          },
                          "type": "Bedroom",
                          "privateBathroom": false
                        },
                        {
                          "beds": {
                            "bed": [
                              {
                                "bedType": "RMA113",
                                "count": 1
                              },
                              {
                                "bedType": "RMA86",
                                "count": 1
                              }
                            ]
                          },
                          "type": "Bedroom",
                          "privateBathroom": false
                        },
                        {
                          "beds": {
                            "bed": [
                              {
                                "bedType": "RMA113",
                                "count": 1
                              }
                            ]
                          },
                          "type": "Bedroom",
                          "privateBathroom": false
                        },
                        {
                          "beds": {
                            "bed": [
                              {
                                "bedType": "RMA58",
                                "count": 1
                              }
                            ]
                          },
                          "type": "Bedroom",
                          "privateBathroom": true
                        },
                        {
                          "beds": {
                            "bed": [
                              {
                                "bedType": "RMA58",
                                "count": 1
                              }
                            ]
                          },
                          "type": "Living Room",
                          "privateBathroom": false
                        }
                      ]
                    },
                    "checkInTime": "16:00:00",
                    "checkInToTime": "20:00:00",
                    "checkOutTime": "10:00:00",
                    "currency": "EUR",
                    "policy": {
                      "internetPolicy": {
                        "accessInternet": true,
                        "kindOfInternet": "WiFi",
                        "availableInternet": "AllAreas",
                        "chargeInternet": "Free"
                      },
                      "parkingPolicy": {
                        "accessParking": true,
                        "locatedParking": "OnSite",
                        "privateParking": true,
                        "chargeParking": "$ 150",
                        "timeCostParking": "PerStay",
                        "necessaryReservationParking": "NotPossible"
                      },
                      "petPolicy": {
                        "allowedPets": "Allowed",
                        "chargePets": "Free"
                      },
                      "childrenAllowed": true,
                      "smokingAllowed": false
                    },
                    "location": {
                      "postalCode": "60606",
                      "country": "US",
                      "region": "Illinois",
                      "city": "Chicago",
                      "street": "210 North Wells Street",
                      "zipCode9": "60606-1330"
                    },
                    "supportedLosRates": false
                  }
                ]
              }
            },
            "headers": {}
          }
        }
      },
      "put": {
        "description": "This function allows a logged in user to update product details.\n\nRequest parameters and request example will be the same as in the create product API. The only field that must be added is the product id.\n\nYou need to have all other parameters which were used in the create API call that you want to keep (AltID can’t be updated). Everything that you do not send as an update will be deleted (overwritten).\n\nResponse parameters and response examples are the same as in the create product API.",
        "summary": "Update product",
        "tags": [
          "Product"
        ],
        "operationId": "Updateproduct",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/Create~1UpdatePropertyRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Productresponse"
            },
            "examples": {
              "application/json": {
                "message": "",
                "errorMessage": [],
                "is_error": false,
                "code": "",
                "data": [
                  {
                    "name": "Name Updated",
                    "id": 1235124634,
                    "supplierId": 61692799,
                    "rooms": 3,
                    "bathrooms": 6,
                    "toilets": 6,
                    "totalBeds": 6,
                    "space": 66,
                    "spaceUnit": "SQ_M",
                    "persons": 6,
                    "childs": 6,
                    "latitude": 41.8860812,
                    "longitude": -87.634233,
                    "livingRoom": 6,
                    "notes": {
                      "description": {
                        "texts": [
                          {
                            "language": "FR",
                            "value": "Main description in FR!"
                          },
                          {
                            "language": "SR",
                            "value": "Main description in RO!"
                          }
                        ]
                      },
                      "houseRules": {
                        "texts": [
                          {
                            "language": "RO",
                            "value": "House Rules in RO!"
                          },
                          {
                            "language": "SK",
                            "value": "House Rules in SK!"
                          }
                        ]
                      }
                    },
                    "attributesWithQuantity": [
                      {
                        "attributeId": "RMA149",
                        "quantity": 1
                      }
                    ],
                    "nearbyAmenities": [
                      {
                        "attributeId": "ACC203",
                        "distance": 3
                      }
                    ],
                    "propertyType": "PCT101",
                    "bedroomConfiguration": {
                      "bedrooms": [
                        {
                          "beds": {
                            "bed": [
                              {
                                "bedType": "RMA6118",
                                "count": 2
                              },
                              {
                                "bedType": "RMA6120",
                                "count": 4
                              }
                            ]
                          },
                          "type": "Living Room",
                          "privateBathroom": true
                        },
                        {
                          "beds": {
                            "bed": [
                              {
                                "bedType": "RMA102",
                                "count": 2
                              },
                              {
                                "bedType": "RMA58",
                                "count": 2
                              },
                              {
                                "bedType": "RMA6119",
                                "count": 3
                              }
                            ]
                          },
                          "type": "Bedroom",
                          "privateBathroom": true
                        }
                      ]
                    },
                    "checkInTime": "17:00:00",
                    "checkInToTime": "21:00:00",
                    "checkOutTime": "11:00:00",
                    "currency": "RSD",
                    "policy": {
                      "internetPolicy": {
                        "accessInternet": true,
                        "kindOfInternet": "Wired",
                        "availableInternet": "SomeRooms",
                        "chargeInternet": "$ 1000"
                      },
                      "parkingPolicy": {
                        "accessParking": true,
                        "locatedParking": "Nearby",
                        "privateParking": false,
                        "chargeParking": "$ 100",
                        "timeCostParking": "PerHour",
                        "necessaryReservationParking": "NotPossible"
                      },
                      "petPolicy": {
                        "allowedPets": "NotAllowed",
                        "chargePets": "$ 10"
                      },
                      "childrenAllowed": false,
                      "smokingAllowed": false
                    },
                    "location": {
                      "postalCode": "60606",
                      "country": "US",
                      "region": "Illinois",
                      "city": "Chicago",
                      "street": "210 North Wells Street",
                      "zipCode9": "60606-1330"
                    },
                    "supportedLosRates": true
                  }
                ]
              }
            },
            "headers": {}
          }
        }
      },
      "delete": {
        "description": "This function allows logged in user to delete list of products.\r\n",
        "summary": "Delete list product",
        "tags": [
          "Product"
        ],
        "operationId": "Deletelistproduct",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/PropertyListRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/APIResponsewithoutData"
            },
            "examples": {
              "application/json": {
                "message": "Product with ids [1235124636, 1235124637] was deleted",
                "errorMessage": [],
                "is_error": false,
                "code": ""
              }
            },
            "headers": {}
          }
        }
      }
    },
    "/product/{productId}": {
      "get": {
        "description": "This function allows logged in user to get a specific product.",
        "summary": "Get product by ID",
        "tags": [
          "Product"
        ],
        "operationId": "GetproductbyID",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Id of the property"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Productresponse"
            },
            "examples": {
              "application/json": {
                "message": "",
                "errorMessage": [],
                "is_error": false,
                "code": "",
                "data": [
                  {
                    "name": "Apimatic Test",
                    "id": 1235124634,
                    "supplierId": 61692799,
                    "rooms": 5,
                    "bathrooms": 4,
                    "toilets": 2,
                    "totalBeds": 6,
                    "space": 111,
                    "spaceUnit": "SQ_FT",
                    "persons": 10,
                    "childs": 2,
                    "latitude": 41.886125,
                    "longitude": -87.634233,
                    "livingRoom": 2,
                    "notes": {
                      "description": {
                        "texts": [
                          {
                            "language": "EN",
                            "value": "Main description on EN!"
                          },
                          {
                            "language": "ES",
                            "value": "Main description on ES!"
                          }
                        ]
                      },
                      "houseRules": {
                        "texts": [
                          {
                            "language": "EN",
                            "value": "House Rules on EN!"
                          },
                          {
                            "language": "SR",
                            "value": "House Rules on SR!"
                          }
                        ]
                      }
                    },
                    "attributesWithQuantity": [
                      {
                        "attributeId": "HAC312",
                        "quantity": 1
                      },
                      {
                        "attributeId": "RMA107",
                        "quantity": 1
                      },
                      {
                        "attributeId": "RMA11",
                        "quantity": 1
                      },
                      {
                        "attributeId": "RMA149",
                        "quantity": 1
                      },
                      {
                        "attributeId": "RMA163",
                        "quantity": 1
                      },
                      {
                        "attributeId": "RMA18",
                        "quantity": 1
                      },
                      {
                        "attributeId": "RMA19",
                        "quantity": 1
                      },
                      {
                        "attributeId": "RMA251",
                        "quantity": 1
                      },
                      {
                        "attributeId": "RMA273",
                        "quantity": 1
                      },
                      {
                        "attributeId": "RMA32",
                        "quantity": 1
                      },
                      {
                        "attributeId": "RMA41",
                        "quantity": 1
                      },
                      {
                        "attributeId": "RMA5085",
                        "quantity": 1
                      },
                      {
                        "attributeId": "RMA59",
                        "quantity": 1
                      },
                      {
                        "attributeId": "RMA6058",
                        "quantity": 1
                      },
                      {
                        "attributeId": "RMA68",
                        "quantity": 1
                      },
                      {
                        "attributeId": "RMA88",
                        "quantity": 1
                      }
                    ],
                    "nearbyAmenities": [],
                    "propertyType": "PCT34",
                    "bedroomConfiguration": {
                      "bedrooms": [
                        {
                          "beds": {
                            "bed": [
                              {
                                "bedType": "RMA113",
                                "count": 1
                              },
                              {
                                "bedType": "RMA58",
                                "count": 1
                              }
                            ]
                          },
                          "type": "Bedroom",
                          "privateBathroom": false
                        },
                        {
                          "beds": {
                            "bed": [
                              {
                                "bedType": "RMA113",
                                "count": 1
                              },
                              {
                                "bedType": "RMA58",
                                "count": 1
                              }
                            ]
                          },
                          "type": "Bedroom",
                          "privateBathroom": false
                        },
                        {
                          "beds": {
                            "bed": [
                              {
                                "bedType": "RMA113",
                                "count": 1
                              },
                              {
                                "bedType": "RMA86",
                                "count": 1
                              }
                            ]
                          },
                          "type": "Bedroom",
                          "privateBathroom": false
                        },
                        {
                          "beds": {
                            "bed": [
                              {
                                "bedType": "RMA113",
                                "count": 1
                              }
                            ]
                          },
                          "type": "Bedroom",
                          "privateBathroom": false
                        },
                        {
                          "beds": {
                            "bed": [
                              {
                                "bedType": "RMA113",
                                "count": 1
                              }
                            ]
                          },
                          "type": "Bedroom",
                          "privateBathroom": false
                        },
                        {
                          "beds": {
                            "bed": [
                              {
                                "bedType": "RMA58",
                                "count": 1
                              }
                            ]
                          },
                          "type": "Bedroom",
                          "privateBathroom": true
                        },
                        {
                          "beds": {
                            "bed": [
                              {
                                "bedType": "RMA58",
                                "count": 1
                              }
                            ]
                          },
                          "type": "Living Room",
                          "privateBathroom": false
                        }
                      ]
                    },
                    "checkInTime": "16:00:00",
                    "checkInToTime": "20:00:00",
                    "checkOutTime": "10:00:00",
                    "currency": "EUR",
                    "policy": {
                      "internetPolicy": {
                        "accessInternet": true,
                        "kindOfInternet": "WiFi",
                        "availableInternet": "AllAreas",
                        "chargeInternet": "Free"
                      },
                      "parkingPolicy": {
                        "accessParking": true,
                        "locatedParking": "OnSite",
                        "privateParking": true,
                        "chargeParking": "$ 150",
                        "timeCostParking": "PerStay",
                        "necessaryReservationParking": "NotPossible"
                      },
                      "petPolicy": {
                        "allowedPets": "Allowed",
                        "chargePets": "Free"
                      },
                      "childrenAllowed": true,
                      "smokingAllowed": false
                    },
                    "location": {
                      "postalCode": "60606",
                      "country": "US",
                      "region": "Illinois",
                      "city": "Chicago",
                      "street": "210 North Wells Street",
                      "zipCode9": "60606-1330"
                    },
                    "supportedLosRates": false
                  }
                ]
              }
            },
            "headers": {}
          }
        }
      },
      "delete": {
        "description": "This function allows the logged in user to delete product.",
        "summary": "Delete product",
        "tags": [
          "Product"
        ],
        "operationId": "Deleteproduct",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Property ID"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/APIResponsewithoutData"
            },
            "examples": {
              "application/json": {
                "message": "Product with id 1235124636 was deleted",
                "errorMessage": [],
                "is_error": false,
                "code": ""
              }
            },
            "headers": {}
          }
        }
      }
    },
    "/product/activation": {
      "post": {
        "description": "This function allows logged in user to activate a list of products in BookingPal. Products MUST be activated successfully before they can be distributed to any channel. \n\nNote: When a product is successfully activated it will be queued for the internal BP validation function and you will receive async push messages when the validation is completed - like it is described in the Validation section.",
        "summary": "Activation list product",
        "tags": [
          "Product"
        ],
        "operationId": "Activationlistproduct",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/PropertyListRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/APIResponsewithoutData"
            },
            "examples": {
              "application/json": {
                "message": "Property with ids [1235124634, 1235124636] will be put in Queue for validation. Please expect response over push message.",
                "errorMessage": [],
                "is_error": false,
                "code": ""
              }
            },
            "headers": {}
          }
        }
      }
    },
    "/product/deactivation": {
      "post": {
        "description": "This function allows the logged in user to deactivate a list of products. This function will also close the calendars on every channel the products have been listed on.",
        "summary": "Deactivation list product",
        "tags": [
          "Product"
        ],
        "operationId": "Deactivationlistproduct",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/PropertyListRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/APIResponsewithoutData"
            },
            "examples": {
              "application/json": {
                "message": "Product with ids [1235124634, 1235124636] are Deactivated!",
                "errorMessage": [],
                "is_error": false,
                "code": ""
              }
            },
            "headers": {}
          }
        }
      }
    },
    "/image/{productId}": {
      "get": {
        "description": "This function allows logged in user to get image list for the existing product",
        "summary": "Get image list by product ID",
        "tags": [
          "Images"
        ],
        "operationId": "GetimagelistbyproductID",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the property"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/GetimagelistbyproductID"
            },
            "examples": {
              "application/json": {
                "message": "",
                "errorMessage": [],
                "is_error": false,
                "code": "",
                "data": [
                  {
                    "productId": 1235124634,
                    "images": [
                      {
                        "url": "http://aff.bstatic.com/images/hotel/max500/110/11069098.jpg",
                        "tags": [
                          4,
                          5,
                          6
                        ],
                        "urlMbp": "https://s3.amazonaws.com/mybookingpal/pictures/n2ujn/n2ujn/1235124634/11069098.jpg",
                        "sort": 1
                      },
                      {
                        "url": "http://aff.bstatic.com/images/hotel/max500/110/11069099.jpg",
                        "tags": [
                          4,
                          5,
                          6
                        ],
                        "urlMbp": "https://s3.amazonaws.com/mybookingpal/pictures/n2ujn/n2ujn/1235124634/11069099.jpg",
                        "sort": 2
                      },
                      {
                        "url": "http://aff.bstatic.com/images/hotel/max500/110/11069100.jpg",
                        "tags": [
                          4,
                          5,
                          6
                        ],
                        "urlMbp": "https://s3.amazonaws.com/mybookingpal/pictures/n2ujn/n2ujn/1235124634/11069100.jpg",
                        "sort": 3
                      },
                      {
                        "url": "http://aff.bstatic.com/images/hotel/max500/110/11069101.jpg",
                        "tags": [
                          4,
                          5,
                          6
                        ],
                        "urlMbp": "https://s3.amazonaws.com/mybookingpal/pictures/n2ujn/n2ujn/1235124634/11069101.jpg",
                        "sort": 4
                      },
                      {
                        "url": "http://aff.bstatic.com/images/hotel/max500/110/11069102.jpg",
                        "tags": [
                          4,
                          5,
                          6
                        ],
                        "urlMbp": "https://s3.amazonaws.com/mybookingpal/pictures/n2ujn/n2ujn/1235124634/11069102.jpg",
                        "sort": 5
                      },
                      {
                        "url": "http://aff.bstatic.com/images/hotel/max500/110/11069103.jpg",
                        "tags": [
                          4,
                          5,
                          6
                        ],
                        "urlMbp": "https://s3.amazonaws.com/mybookingpal/pictures/n2ujn/n2ujn/1235124634/11069103.jpg",
                        "sort": 6
                      },
                      {
                        "url": "http://aff.bstatic.com/images/hotel/max500/110/11069104.jpg",
                        "tags": [
                          4,
                          5,
                          6
                        ],
                        "urlMbp": "https://s3.amazonaws.com/mybookingpal/pictures/n2ujn/n2ujn/1235124634/11069104.jpg",
                        "sort": 7
                      },
                      {
                        "url": "http://aff.bstatic.com/images/hotel/max500/110/11069105.jpg",
                        "tags": [
                          4,
                          5,
                          6
                        ],
                        "urlMbp": "https://s3.amazonaws.com/mybookingpal/pictures/n2ujn/n2ujn/1235124634/11069105.jpg",
                        "sort": 8
                      },
                      {
                        "url": "http://aff.bstatic.com/images/hotel/max500/110/11069106.jpg",
                        "tags": [
                          4,
                          5,
                          6
                        ],
                        "urlMbp": "https://s3.amazonaws.com/mybookingpal/pictures/n2ujn/n2ujn/1235124634/11069106.jpg",
                        "sort": 9
                      },
                      {
                        "url": "http://aff.bstatic.com/images/hotel/max500/110/11069107.jpg",
                        "tags": [
                          4,
                          5,
                          6
                        ],
                        "urlMbp": "https://s3.amazonaws.com/mybookingpal/pictures/n2ujn/n2ujn/1235124634/11069107.jpg",
                        "sort": 10
                      },
                      {
                        "url": "http://aff.bstatic.com/images/hotel/max500/110/11069108.jpg",
                        "tags": [
                          4,
                          5,
                          6
                        ],
                        "urlMbp": "https://s3.amazonaws.com/mybookingpal/pictures/n2ujn/n2ujn/1235124634/11069108.jpg",
                        "sort": 11
                      },
                      {
                        "url": "http://aff.bstatic.com/images/hotel/max500/110/11069109.jpg",
                        "tags": [
                          4,
                          5,
                          6
                        ],
                        "urlMbp": "https://s3.amazonaws.com/mybookingpal/pictures/n2ujn/n2ujn/1235124634/11069109.jpg",
                        "sort": 12
                      }
                    ]
                  }
                ]
              }
            },
            "headers": {}
          }
        }
      },
      "delete": {
        "description": "This function allows logged in user to delete images.",
        "summary": "Delete all images per property",
        "tags": [
          "Images"
        ],
        "operationId": "Deleteallimagesperproperty",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of property for which you want to delete all images"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/APIResponsewithoutData"
            },
            "examples": {
              "application/json": {
                "message": "Your request was received and put in queue",
                "errorMessage": [],
                "is_error": false,
                "code": "",
                "data": []
              }
            },
            "headers": {}
          }
        }
      }
    },
    "/image": {
      "post": {
        "description": "This function allows the logged in user to upload images for the existing product. Every new image will be sorted to the end. The first image sent will be used as the “Main Image”. (Image re-ordering can also be done within the BookingPal platform manually by users)",
        "summary": "Create images",
        "tags": [
          "Images"
        ],
        "operationId": "Createimages",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/CreateimagesRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/APIResponsewithoutData"
            },
            "examples": {
              "application/json": {
                "message": "Your request was received and put in queue",
                "errorMessage": [],
                "is_error": false,
                "code": ""
              }
            },
            "headers": {}
          }
        }
      },
      "delete": {
        "description": "This function allows the logged in user to delete image(s) from the existing product.",
        "summary": "Delete list of images",
        "tags": [
          "Images"
        ],
        "operationId": "Deletelistofimages",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/DeletelistofimagesRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/APIResponsewithoutData"
            },
            "examples": {
              "application/json": {
                "message": "Images are sent for processing!",
                "errorMessage": [],
                "is_error": false,
                "code": "",
                "data": []
              }
            },
            "headers": {}
          }
        }
      }
    },
    "/ra/{productId}": {
      "get": {
        "description": "This function allows logged in users to get rates and availability for the specific product.\nEvery API call in this section should be with PM credentials.",
        "summary": "Get rates and availability product ID",
        "tags": [
          "Rates and Availability"
        ],
        "operationId": "GetratesandavailabilityproductID",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the property"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/RatesAvailabilityresponse"
            },
            "examples": {
              "application/json": {
                "message": "",
                "errorMessage": [],
                "is_error": false,
                "code": "",
                "data": [
                  {
                    "productId": 1235124634,
                    "leadTime": 2,
                    "rates": [
                      {
                        "beginDate": "2020-03-17",
                        "endDate": "2021-01-25",
                        "amount": 137
                      }
                    ],
                    "minStays": [
                      {
                        "beginDate": "2020-03-17",
                        "endDate": "2021-01-25",
                        "minStay": 5
                      }
                    ],
                    "maxStays": [
                      {
                        "beginDate": "2020-03-17",
                        "endDate": "2021-01-25",
                        "maxStay": 20
                      }
                    ],
                    "restrictions": [
                      {
                        "beginDate": "2020-03-23",
                        "endDate": "2021-01-25",
                        "checkIn": {
                          "monday": false,
                          "tuesday": false,
                          "wednesday": false,
                          "thursday": false,
                          "friday": false,
                          "saturday": true,
                          "sunday": true
                        },
                        "checkOut": {
                          "monday": false,
                          "tuesday": false,
                          "wednesday": false,
                          "thursday": false,
                          "friday": false,
                          "saturday": true,
                          "sunday": true
                        }
                      },
                      {
                        "beginDate": "2021-01-25",
                        "endDate": "2021-02-01",
                        "checkIn": {
                          "monday": false,
                          "tuesday": true,
                          "wednesday": true,
                          "thursday": true,
                          "friday": true,
                          "saturday": true,
                          "sunday": true
                        },
                        "checkOut": {
                          "monday": false,
                          "tuesday": true,
                          "wednesday": true,
                          "thursday": true,
                          "friday": true,
                          "saturday": true,
                          "sunday": true
                        }
                      },
                      {
                        "beginDate": "2020-03-16",
                        "endDate": "2020-03-23",
                        "checkIn": {
                          "monday": true,
                          "tuesday": false,
                          "wednesday": false,
                          "thursday": false,
                          "friday": false,
                          "saturday": true,
                          "sunday": true
                        },
                        "checkOut": {
                          "monday": true,
                          "tuesday": false,
                          "wednesday": false,
                          "thursday": false,
                          "friday": false,
                          "saturday": true,
                          "sunday": true
                        }
                      }
                    ],
                    "availabilities": [
                      {
                        "beginDate": "2020-04-20",
                        "endDate": "2020-04-25",
                        "availability": false
                      }
                    ]
                  }
                ]
              }
            },
            "headers": {}
          }
        }
      }
    },
    "/ra": {
      "post": {
        "description": "Create and update calls are the same. When data is sent, if the data already exists in BookingPal - that data will be updated. Otherwise it will be created (inserted). If you want to update data for some period, you should just send data for these dates. All other data (for other dates) will remain untouched. This allows you to update only changed periods and we will not delete previously sent data for other periods.\n\nIn the case of a first data push, all data for one property should be sent in one request.  When making updates or changes to existing data, then all changed data should be sent in one request.\n\nNote: if property is set to use LOS rates (supportedLosRates) - only field leadTime, array availableCount and availability can be updated in this API call (for MLT property). For SGL property only leadTime and availability can be updated. This API call can not be used for OWN properties.\nImportant: Maximum allowed end date in any data type is 3 years in future.\n\nEvery API call in this section should be with PM credentials.",
        "summary": "Create and update rates and availability",
        "tags": [
          "Rates and Availability"
        ],
        "operationId": "Createandupdateratesandavailability",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/CreateandupdateratesandavailabilityRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/RatesAvailabilityresponse"
            },
            "examples": {
              "application/json": {
                "message": "This product is SGL and can't have availableCount!",
                "errorMessage": [],
                "is_error": false,
                "code": "",
                "data": [
                  {
                    "productId": 1235124634,
                    "leadTime": 2,
                    "rates": [
                      {
                        "beginDate": "2020-03-17",
                        "endDate": "2021-01-25",
                        "amount": 137
                      }
                    ],
                    "minStays": [
                      {
                        "beginDate": "2020-03-17",
                        "endDate": "2021-01-25",
                        "minStay": 5
                      }
                    ],
                    "maxStays": [
                      {
                        "beginDate": "2020-03-17",
                        "endDate": "2021-01-25",
                        "maxStay": 20
                      }
                    ],
                    "restrictions": [
                      {
                        "beginDate": "2020-03-17",
                        "endDate": "2021-01-25",
                        "checkIn": {
                          "monday": false,
                          "tuesday": false,
                          "wednesday": false,
                          "thursday": false,
                          "friday": false,
                          "saturday": true,
                          "sunday": true
                        },
                        "checkOut": {
                          "monday": false,
                          "tuesday": false,
                          "wednesday": false,
                          "thursday": false,
                          "friday": false,
                          "saturday": true,
                          "sunday": true
                        }
                      }
                    ],
                    "availabilities": [
                      {
                        "beginDate": "2020-04-20",
                        "endDate": "2020-04-25",
                        "availability": false
                      },
                      {
                        "beginDate": "2020-04-26",
                        "endDate": "2020-04-28",
                        "availability": true
                      }
                    ],
                    "availableCount": [
                      {
                        "beginDate": "2020-04-20",
                        "endDate": "2020-04-25",
                        "count": 3
                      },
[...]
